/* Colors  and globals*/
:root {
  --btn-color: #debc64;
  --nav-bg-color: #182b47;
  --para-color: #0000;
  --five-stars: #ff8080;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}
/* fonts served locally */
/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v17-latin-300.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("../fonts/open-sans-v17-latin-300.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-v17-latin-300.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/open-sans-v17-latin-300.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v17-latin-300.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-v17-latin-300.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v17-latin-regular.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("../fonts/open-sans-v17-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-v17-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/open-sans-v17-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v17-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-v17-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v17-latin-600.eot"); /* IE9 Compat Modes */
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("../fonts/open-sans-v17-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-v17-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/open-sans-v17-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v17-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-v17-latin-600.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v17-latin-700.eot"); /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/open-sans-v17-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-v17-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/open-sans-v17-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v17-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-v17-latin-700.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans-v17-latin-800.eot"); /* IE9 Compat Modes */
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"),
    url("../fonts/open-sans-v17-latin-800.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/open-sans-v17-latin-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/open-sans-v17-latin-800.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/open-sans-v17-latin-800.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/open-sans-v17-latin-800.svg#OpenSans") format("svg"); /* Legacy iOS */
}

body {
  overflow-x: hidden;
}
/* header and navigation */
header {
  overflow: hidden;
  height: 443px;
  background: linear-gradient(rgba(19, 35, 54, 0.95), rgba(19, 36, 54, 0.65)),
    url(/images/packing.jpeg) center no-repeat;
  background-size: cover;
}
header .nav-wrap {
  background: var(--nav-bg-color);
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .navbar .navbar-brand {
  color: #fff;
  font-size: 36px;
  font-weight: 800;
}
.collapse.navbar-collapse ul li a {
  color: #fff !important;
  font-size: 18px;
}
header .navbar-nav .nav-item {
  margin-left: 40px;
  transition: all 650ms;
}
header .navbar-nav .nav-item span.active {
  background-color: var(--btn-color);
  height: 8px;
  display: inline-block;
  opacity: 0;
  transition: opacity 650ms ease-in;
  width: 100%;
}
header .navbar-nav .nav-item.active span.active {
  opacity: 1;
}
header .nav-wrap .nav-link:hover ~ span.active {
  opacity: 1;
}
header .navbar-nav .nav-item.book-now {
  background-color: var(--btn-color);
  padding: 0 10px;
  height: 45px;
}
header .navbar-nav .nav-item.book-now a {
  color: var(--nav-bg-color) !important;
  font-weight: 600;
}
header .hero-text {
  color: #fff;
  text-align: center;
}
header .hero-text h1 {
  font-weight: bold;
  font-size: 64px;
}
header .hero-text p {
  width: 56%;
  margin: 0 auto;
}

.facilities .breadcrumbs a {
  color: var(--nav-bg-color);
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
}
.facilities .breadcrumbs a.prev {
  opacity: 0.5;
}
.facilities .card {
  border-radius: 0;
}
.facilities .card .more-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.facilities .card .more {
  text-align: center;
  background-color: var(--btn-color);
  border-radius: 0;
  border: 0;
  line-height: 33px;
  width: 140px;
  height: 42px;
  padding-top: 5px;
  position: relative;
}
.facilities .card .more a {
  text-decoration: none;
  font-weight: 600;
  color: var(--nav-bg-color);
}
.facilities .card .ratings {
  margin-right: 40px;
  display: flex;
  text-align: center;
  color: var(--btn-color);
  flex-direction: column;
}
.facilities .card .ratings span a {
  text-decoration: none;
  color: var(--nav-bg-color);
}
.facilities .card .ratings span:first-child i:nth-child(5) {
  color: var(--five-stars);
}
.facilities .card .ratings span:last-child {
  color: var(--nav-bg-color);
  font-weight: 600;
}

/* reponsiveness */
@media screen and (max-width: 414px) {
  header .hero-text {
    color: #fff;
    text-align: center;
  }
  header .hero-text h1 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px !important;
  }
  header .hero-text p {
    width: 80%;
    margin: 0 auto;
  }
  #navbarSupportedContent {
    /* top: 119px; */
    z-index: 999999;
    background: black;
    position: relative;
  }
}
