
body{
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
	background-color: #E5E5E5 !important;
	overflow-x: hidden;
}
/* MAIN ELEMENT STYLING */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
html{
    height: 100%
}
body{
    height: 100%;
    margin: 0;
    padding:0;
    font-family: 'Open Sans', sans-serif;
}

#body.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.3);
}

.toolbar {
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    height: 400px;
    background-image: url('../../asserts/img/Rectangle2.png');
    z-index: 500;
}

.toolbar_navigation{
    display: flex;
    padding: 0 1rem;
    margin-right: 1rem;
    width: 100%;
}
.toolbar_navigation-items{
    display: flex;
    padding-right: 20px;
    padding-top: 10px;
}
.toolbar_logo{
    display: flex;
    width: 100%;
    z-index: 1500;
}
.toolbar_logo h1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 49px;
    color: #FFFFFF;
    margin-left: 50px;
    padding-top: 10px;
}
@media screen and (max-width: 800px) {
    .toolbar_logo h1{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 28px;
        line-height: 40px;
        color: #FFFFFF;
        margin-left: 50px;
        padding-top: 10px;
    }
    .nav_header{
        margin: auto;
        text-align: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;
        padding-top: 20px;
        font-size: 44px;
        line-height: 87px;
        color: #FFFFFF;
    }
    .nav_header h1{
        margin: auto;
        text-align: center;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;
        padding-top: 0px;
        font-size: 40px;
        line-height: 67px;
        color: #FFFFFF;
    }
}

.nav_header{
    margin: auto;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    padding-top: 100px;
    font-size: 44px;
    line-height: 87px;
    color: #FFFFFF;
}

.spacer{
    flex: 1;
}
.toolbar_navigation-items a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    padding-top: 10px;
}
.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-right: 10px;
    padding-top: 10px;
}
.toolbar_navigation-items li {
    padding: 0 2rem;
}


.toolbar_navigation-items li:hover{
    color:  white;
    transform: scale(1.2);
    transition: all 2s;
}

.signup_button{
    background: #DEBC64;
    border-radius: 8px;
    padding: 15px 10px 0px 10px;
}
.signup_button a{
    color: #0A1320;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.signup_button a:hover{
    color: white ;
}
.signup_button:hover {
    transform: scale(1.1);
    transition: all 2s;
}

/* MEDIA QUERIES */


@media screen and (min-width: 850px) {
    #hidden {
        display: none;
    }
    .hamburger{
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .toolbar_logo h1{
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 800;
        font-size: 36px;
        line-height: 49px;
        color: #FFFFFF;
        margin-left: 20px;
        padding-top: 10px;
    }
    #side {
        height: 100%;
        background: #182b47;
        box-shadow: 0px 4px 11px rgba(150, 150, 150, 0.25);
        position: fixed;
        top:0;
        right:0;
        width: 70%;
        max-width: 300px;
        z-index: 500;
        transform: translateX(100%);
        transition: transform 0.8s ease-out;
    } 
    #side.sideactive {
        transform: translateX(0)
    }

    #side ul {
        list-style: none;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;  
        align-items: center;
        font-size: 1.0rem;
        font-weight: 400;
        padding-top: 0px;
    } 
    #side .hamburger{
        /*padding-left: 230px;*/
        margin-left: 25px;
    }
    #side li{
        margin: 0.8rem 0;
        
    }
    
    #side a{
        color: white;
        text-decoration: none;
    }

    #side .signup_button {
	background: #DEBC64;
	border-radius: 8px;
	padding: 5px 10px 5px 10px;
}

   #side .signup_button a{
        color: white;
        text-decoration: none;
    }

    #side a:hover,
    #side a:active {
        color:   #71CE47
    }

    #side .signup_button a:hover,
    #side .signup_button a:active {
        color:   white
    }

    .toolbar_navigation-items {
        display: none;
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 20px;
        right: 0;
        top: 0;
        width: 24px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding:0;
        box-sizing: border-box;
        margin-top: 25px;
        z-index:1500;
    }
    .hamburger{
        outline: none;
    }
    .ham_line{
        width: 24px;
        height: 4px;
        background: white;
    }   
}

/* HAMBURGER ANIMATION */

#hamturn div:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

#hamturn div:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

#hamturn div:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

#hamturn.hamactive div:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

#hamturn.hamactive div:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

#hamturn.hamactive div:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

/* FURY FOOTER */

footer{
    color: #FFFFFF;
    background: #182B47;
}
.logo_text{
    font-size: 32px;
}
.footer_1{
    padding: 100px 70px;
    padding-bottom: 30px;
}
.footer_1 input{
    background-color: #F5F5F5;
    color: #828282;
}

.footer_company{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
}
.footer_link{
    margin: 2px auto;
}

.footer_link a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}
.footer_link:hover{
    transform: scale(1.08);
    transition: all 2s;
}
.footer_contact_spot ion-icon{
    margin-right: 20px;
    font-size: 24px;
}
.footer_2{
    background: #0E1C32;
    display: flex;
    justify-content:center ;
}
.footer_2 p{
    padding: 20px 0;
    margin: 0;
}
.new_letter_btn{
    background-color: #DEBC64;
    color: #FFFFFF;
    border: 1px solid #DEBC64;
    padding: 7px 10px;
    font-family: 'Open Sans';
    margin-left: 20px;
}
.new_letter_btn:hover, .new_letter_btn:focus{
    background-color: #FFFFFF;
    color: #DEBC64;
}
.news_letter{
    display: flex;
}

section .pager{
	margin-right: 20%;
}

@media(min-width:800px){
    .footer_company{
        margin-top: auto;
    }
}

/* BODY */

.rectangle{
	/*position: absolute;*/
	height: 443px;
	left: 0px;
	top: 0px;
	background: url(../img/Rectangle2.png);
	background-repeat: round;
}

#booking{
	position: absolute;
	left: 70.25rem;
	top: 15.188rem;
	font-weight: bold;
	font-size: 4.5rem;
	color: #FFFFFF;
}

.icons li i{
	font-size: 48px;
    background-color: #d9d9d9;
    cursor: pointer;
    width: 35%;
    height: 35%;
    position: relative;
    border: 0.125rem solid transparent;
    text-align: center;
    color: #000;
    font-size: 4.5625rem;
    line-height: 8.75rem;
    border-radius: 8.6875rem;
    border:1px solid #ececec;
    margin:4.25rem 0rem 1.5rem 0px;
}

.icons i:last-child{
	margin-right: 0px;
}

.icons{
	counter-reset: step;
}

.icons li{
	list-style-type: none;
	float: left;
	width: 25%;
	position: relative;
	text-align: center;
}

.icons li:before{
	width: 30px;
	position: absolute;
	height: 30px
	line-height:30px;
	display: block;
	text-align: center;
	margin:0 auto 10px auto;
	border-radius: 50%;

}

.icons li:after{
	content: ' ';
	position: absolute;
	width: 100%;
	height:5px;
	background-color: #ddd;
	top: 95px;
	left: -65%;
	z-index: -1;
}

.icons li:first-child:after{
	content: none;
}

.icons li.active{

}

.icons li span{
	display: flex;
	margin-left: 36%;
}

.search-content{
	margin-top: 5%;
}

.search-content form{
	width:333px;
	height: 492px;
	background-color: #fff;
	border:1px solid #fff;
	align-content: center;
	margin-left: 10px;
	padding: 20px;
}

form select, input{
	width:285px;
	height:52px;
	border:0.5px solid #000;
	box-sizing: border-box;
}

form button {
	width: 285px;
	height: 52px;
	background-color: #DEBC64;
}

.pictures button{
	width: 164px;
	height: 57px;
	display: flex;
	flex-direction: row;
	padding: 20px 40px;
	background-color: #DEBC64;
}

.pictures{
	background-color: #fff;
	border: 0.75px solid #E5E5E5;
	box-sizing: border-box;
}

.card{
	/*height:100vh;*/
	margin-top: 25px;
	border: 0.75px solid #E5E5E5;
}

.card img{
	width: 100%;
}

.card:last-child{
	margin-top: 50px;
	/*margin-bottom: 150px;*/
}

.box{
	height: 66px;
	padding: 25px 10px;
	color: #fff;
	background-color: #182B47;
	text-align: justify;
}

.box i{
	float: right;
	color: #DEBC64;
}

.text{
	font-size: 30px;
}


@media screen and (min-width: 100px) and (max-width: 880px) {

	.body{
        min-height: 100%;
        text-align: center;
        width: 100%;
        background: #E5E5E5;
        display: flex;
        flex-direction: column;
    }
    .icons{
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        margin: auto;
        width: 100%;
        justify-content: space-evenly;
    }
    .icons #review{
        display: none;
    }
    .icons #info{
        display: none;
    }
    .icons #payment{
        display: none
    }
    .icons #bed{
        display: block;
    }
    .icons i{
        width:25px;
        height: 25px;
    }
    .icons span{
        padding-left: 20px;
    }
    .icons .vector{
        padding-left: 11px;
    }
    .icons li {
	list-style-type: none;
	float: left;
	width: 34%;
	position: relative;
	text-align: center;
}
.icons {
	 padding-top: 0px; 
	 padding-bottom: 25px; 
	display: flex;
	margin: auto;
	width: 100%;
	justify-content: space-evenly;
	background: transparent;
}
.icons li span {
	display: flex;
	margin-left: 20%;
}
.icons li i {
	 background-color: transparent; 
	width: 35%;
    line-height: 1rem;
	border-radius: 8.6875rem;
	margin: 4.25rem 0rem 1.5rem 0px;
}

.search-content form {
	width: 95%;
	/*height: 510px;*/
	
}

form select, input {
	width: 95%;
	height: 50px;
	border: 0.5px solid #000;
	box-sizing: border-box;
}
form button {
	width: 95%;
	height: 50px;
}

h2{
    margin-left: 20px;
}

 #card2{
        display: none;
    }
 #card3{
        display: none;
    }
 #card4{
        display: none
    }
 #card1{
        display: block;
    }

    .search-content {
	margin-top: 5%;
	/*margin-bottom: 225px;*/
}

 button .new_letter_btn .btn {
	width: 100%;
	height: 18%;
}

section {
	position: relative;
	border: black;
	border-radius: 1px;
}

a {
	font-style: none;
	color: #000;
}
   .card img {
	width:100%;
}

}

@media screen and (min-width: 881px) and (max-width: 990px) {

.card {
	/* height: ; */
	margin-top: 25%;
	border: 0.75px solid #E5E5E5;
	width: 100%;
}
.roomPics #card3{
    margin-top:50%;
}
.search-content form {
	width: 100%;
}

form select, input {
	width: 100%;
}

button {
	width: 100%;
}


}